/* ======================================
	Company Name ThemeForm.css

    Last Updated : AAA 07/07/2014
====================================== */
.pf_form_table {
  color: #293944;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  margin: 1em 0;
  padding: 10px;
  width: 100%;
}
.pf_form_table .pf_field_row {
  margin: 0.25em 0;
  vertical-align: middle;
}
.pf_form_table .pf_prefield_cell_empty {
  display: hidden;
}
.pf_form_table .pf_label_cell {
  padding: .3em .6em;
  text-align: right;
}
.pf_form_table .pf_label_text {
  color: #293944;
}
.pf_form_table .pf_hint_text,
.pf_form_table .pf_hint_text_bad {
  display: block;
}
.pf_form_table .pf_text,
.pf_form_table .pf_text_narrow,
.pf_form_table .pf_text_wide {
  font-size: 0.8em;
  color: #666666;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  padding: 5px;
}
.pf_form_table .pf_multiline,
.pf_form_table .pf_multiline_narrow,
.pf_form_table .pf_multiline_wide {
  background: #ffffff;
  border: 1px solid #444444;
  font-size: 0.9em;
  padding: .35em .2em;
}
.pf_form_table .pf_field_cell select,
.pf_form_table .pf_field_cell_bad select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f8f8f8;
  background-image: url('icon_select.png');
  background-position: 98% 48%;
  background-repeat: no-repeat;
  border: 1px solid #aaaaaa;
  color: #666666;
  display: inline-block;
  font-size: 1em;
  outline: none;
  padding: 8px 20px 8px 5px;
  text-indent: 0.01px;
  text-overflow: '';
  background-image: none\9;
  padding: 5px 5px 5px 5px\9;
}
.pf_form_table .pf_field_cell select::-ms-expand,
.pf_form_table .pf_field_cell_bad select::-ms-expand {
  display: none;
}
.pf_form_table .pf_field_cell select:-moz-focusring,
.pf_form_table .pf_field_cell_bad select:-moz-focusring,
.pf_form_table .pf_field_cell select::-moz-focusring,
.pf_form_table .pf_field_cell_bad select::-moz-focusring {
  outline: none !important;
  border: none !important;
  color: #aaaaaa;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #aaaaaa;
}
.pf_form_table .pf_field_cell select:hover,
.pf_form_table .pf_field_cell_bad select:hover {
  color: #aaaaaa;
  background-color: #ffffff;
}
.pf_form_table .pf_field_cell select:focus,
.pf_form_table .pf_field_cell_bad select:focus {
  color: #666666 !important;
}
.pf_form_table .pf_field_cell option:-moz-focusring,
.pf_form_table .pf_field_cell_bad option:-moz-focusring,
.pf_form_table .pf_field_cell option::-moz-focusring,
.pf_form_table .pf_field_cell_bad option::-moz-focusring {
  outline: none !important;
  border: none !important;
  color: #aaaaaa;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 #aaaaaa;
}
.pf_form_table .pf_text,
.pf_form_table .pf_multiline,
.pf_form_table .pf_dropdown {
  width: 80%;
}
.pf_form_table .pf_text_narrow,
.pf_form_table .pf_multiline_narrow,
.pf_form_table .pf_dropdown_narrow {
  width: 50%;
}
.pf_form_table .pf_text_wide,
.pf_form_table .pf_multiline_wide,
.pf_form_table .pf_dropdown_wide {
  width: 100%;
}
.pf_form_table .pf_field_row_bad .pf_text,
.pf_form_table .pf_field_row_bad .pf_text_narrow,
.pf_form_table .pf_field_row_bad .pf_text_wide,
.pf_form_table .pf_field_row_bad .pf_multiline,
.pf_form_table .pf_field_row_bad .pf_multiline_narrow,
.pf_form_table .pf_field_row_bad .pf_multiline_wide {
  background: #ffffff url(formError.png) no-repeat right;
  border: 1px solid #db4056;
  border-color: #db4056;
  padding: 5px;
}
.pf_form_table .pf_field_cell_bad select {
  color: #db4056;
  border: 1px solid #db4056;
}
.pf_form_table .pf_label_cell_bad {
  color: #db4056;
  padding: .3em .6em;
  text-align: right;
}
.pf_form_table .pf_field_row_bad {
  color: #db4056;
  vertical-align: middle;
}
.pf_form_table .pf_label_text_bad {
  color: #db4056;
}
.pf_form_table .pf_submit_cell {
  padding: .4em .5em;
}
.pf_form_table .pf_submit_cell .pf_submit_image {
  border: none;
}
.pf_form_table .pf_submit_cell .pf_submit_button {
  background: #465c6b;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  font-size: 0.9em;
  padding: 0.5em 2.15em;
  margin: 0.5em 0;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pf_form_table .pf_submit_cell .pf_submit_button:hover,
.pf_form_table .pf_submit_cell .pf_submit_button:focus {
  background-color: #9faeb9;
}
/* ======================================
    Form Pods
    REQUIRED CLASS: .form-pod-a
====================================== */
.form-pod-a .pf_form_table {
  color: #fff;
}
.form-pod-a .pf_form_table .pf_label_text {
  color: #ffffff;
}
.form-pod-a .pf_submit_button {
  background: #9faeb9;
  color: #ffffff;
}
.form-pod-a .pf_submit_button:hover,
.form-pod-a .pf_submit_button:focus {
  background-color: #465c6b;
}
/* form-pod b overrides */
.form-pod-b .pf_form_table {
  color: #ffffff;
}
.form-pod-b .pf_form_table .pf_label_text {
  color: #ffffff;
}
/* form-pod c overrides */
.form-pod-c .pf_form_table {
  color: #ffffff;
}
.form-pod-c .pf_form_table .pf_label_text {
  color: #ffffff;
}
.form-pod-c .pf_submit_button {
  background: #444444;
}
.form-pod-c:hover,
.form-pod-c:focus {
  background-color: #aaaaaa;
}
/* ======================================
	Form Button Font Size and Padding
====================================== */
/* size-specific (s,m,l and xl) button styles, including form submit. do not delete/change these classes */
.form_s .pf_submit_button {
  font-size: 0.929em;
  padding: 0.5em 1.83em;
}
.form_m .pf_submit_button {
  font-size: 1.143em;
  padding: 0.5em 2.15em;
}
.form_l .pf_submit_button {
  font-size: 1.286em;
  padding: 0.5em 2.667em;
}
/* ======================================
	Form Button Icon Padding
====================================== */
.button-container-small.button-container-checked .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-small.button-container-arrow .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-small.button-container-phone .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-small.button-container-download .pf_form_table .pf_submit_cell .pf_submit_button {
  padding: 0.5em 2.033em 0.5em 2.8em;
}
.button-container-medium.button-container-checked .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-medium.button-container-arrow .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-medium.button-container-phone .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-medium.button-container-download .pf_form_table .pf_submit_cell .pf_submit_button {
  padding: 0.5em 2.250em 0.5em 2.8em;
}
.button-container-large.button-container-checked .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-large.button-container-arrow .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-large.button-container-phone .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-large.button-container-download .pf_form_table .pf_submit_cell .pf_submit_button {
  padding: 0.5em 2.767em 0.5em 3.0em;
}
.button-container-wide.button-container-checked .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-wide.button-container-arrow .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-wide.button-container-phone .pf_form_table .pf_submit_cell .pf_submit_button,
.button-container-wide.button-container-download .pf_form_table .pf_submit_cell .pf_submit_button {
  padding: 0.5em 0.5em 0.5em 2.1em;
}
